 // VARIABLES

$basefont: 'Helvetica','Arial', sans-serif;
$textcolor: #2C1703;
$accent: #43b1c1;
$accent2: #D1ECE5;
$bgcolor-page: #b3cecd;
$bgcolor-gradient: #ecefe1;
$bgcolor-nav: #ffffff;
$bgcolor-button: darken($accent,15%);
$text-button: #ffffff;
$text-new-patients: #1f9647;
$box-shadow: 2px 1px 3px rgba(80, 80, 80, .5);
$flex: flex;
$column-nowrap: column nowrap;
$row-nowrap: row nowrap;
$center: center;



// MIXINS

@mixin border($size, $color) {
  border: $size solid $color;
}

@mixin cushion($padding, $margin) {
  padding: $padding;
  margin: $margin;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin min-max-width($min-width, $max-width) {
  min-width: $min-width;
  max-width: $max-width;
}

@mixin flex($display, $flex-flow, $justify-content, $align-items) {
  display: $display;
  flex-flow: $flex-flow;
  justify-content: $justify-content;
  align-items: $align-items;

}

@mixin tablet {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media screen and (min-width: 900px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}


// STYLES

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // @include border(1px, #f0f);  // Troubleshooting
}

html {
  font-size: 16px;
  @include tablet {
    font-size: 18px;
  }
  @include desktop {
    font-size: 20px;
  }
}

body {
  @include size(100%, 100%);
  background-color: $bgcolor-page;
  color: $textcolor;
  font: {
    family: $basefont;
    weight: 400;
    size: 1em;
  }
}

h1, h2, h3, h4 {
  line-height: 120%;
  text-align: center;
  font-weight: normal;
}

h2, h3, h4 {
  margin: 1rem 0 .35rem 0;
}

h1 {
  font-size: 3rem;
  margin: 0 0 .5rem 0;
}

h2 {
  font-size: 1.5rem;
  font-style: italic;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.15rem;
  font-style: italic;

}

p, input {
  font-size: 1rem;
  margin: 0 0 1rem 0;
  color: #333;
  line-height: 140%;
}

input[type=text] {
  @include min-max-width(300px,500px);
  @include cushion(.25rem, 0);
  @include border(0px, #ffffff);
  @include size(60vw, auto);
  width: 60vw;
  box-shadow: $box-shadow inset;
}



// p:first-of-type {
//   margin-top: 0;
// }

a {
  color: $accent;
  text-decoration: none;
}

a:hover, a:active {
  color: lighten($accent, 10%);
}


button {
  @include cushion(.25rem 1rem, 1rem auto .5rem auto);
  background: $bgcolor-button;
  border-radius: 4px;
  box-shadow: $box-shadow;
  color: $text-button;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: .1rem;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover, button:active {
  background: lighten($bgcolor-button, 10%);
}


form {
  @include flex($flex, $column-nowrap,$center,$center);
}


.container {
  @include size(100%, 100%);
  background: linear-gradient($bgcolor-gradient, $bgcolor-page);
}

.content-wrap {
  @include size(80%, 100%);
  @include min-max-width(400px, 1200px);
  @include cushion(2rem 0 1rem 0, 0 auto 2rem auto);
  @include flex($flex, $column-nowrap,$center,$center);
  height: 100%;
  // @include border(1px, #f0f);
}

.credit {
  font-size: .85rem;

}

.image {
  @include cushion(0, 1rem 0);
  @include flex($flex, $column-nowrap,$center,$center);
  img {
    @include size(60vw, auto);
    @include min-max-width(200px, 480px);
  }
}

.result {
  @include cushion(0, 1rem 0);
  ul {
    li {
      list-style-type: none;

      img {
        float: left;
        margin-right: .5rem;
      }

    }

  }
}


.accept-new-patients-yes {
  color: $text-new-patients;
  font-weight: bold;
}
