// VARIABLES

$basefont: 'Raleway','Helvetica','Arial', sans-serif;
$basefont-name: 'Raleway';
$stylefont: 'Prata', serif;
$textcolor: #2C1703;
$link: #207193;
$accent2: #D1ECE5;
$bgcolor-page: #dae6ed; //#d2e8ef; // light blue       //#82bfe0; //medium blue   #3fbce2; //bright blue
$bgcolor-gradient: #fcdc5a; //sunshine
$bgcolor-card: #f7f6f4; //very light grey
$link-highlight: #fffde8; //very light yellow
$bgcolor-nav: #ffffff;
$bgcolor-button: #347CAE; //#3B94B9;
$text-button: #ffffff;
$text-new-patients: #1f9647;
$box-shadow: 2px 1px 3px rgba(80, 80, 80, .35);
$flex: flex;
$column-nowrap: column nowrap;
$row-nowrap: row nowrap;
$center: center;
