// VARIABLES

$basefont: 'Raleway','Helvetica','Arial', sans-serif;
$stylefont: 'Prata', serif;
$textcolor: #2C1703;
$link: darken(#3fbce2, 30%);
$accent2: #D1ECE5;
$bgcolor-page: #aed7e5; // light blue       //#82bfe0; //medium blue   #3fbce2; //bright blue
$bgcolor-gradient: #fcdc5a; //sunshine
$bgcolor-card: #f7f6f4; //very light grey
$bgcolor-nav: #ffffff;
$bgcolor-button: darken(#3fbce2,15%);
$text-button: #ffffff;
$text-new-patients: #1f9647;
$box-shadow: 2px 1px 3px rgba(80, 80, 80, .35);
$flex: flex;
$column-nowrap: column nowrap;
$row-nowrap: row nowrap;
$center: center;
